<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HISTORICON® 2024 PEL</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/keytable/2.12.0/css/keyTable.bootstrap5.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchpanes/2.3.1/css/searchPanes.bootstrap5.css" rel="stylesheet">
    <link href="pel.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.12.0/js/dataTables.keyTable.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.1/js/dataTables.searchPanes.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.1/js/searchPanes.bootstrap5.js"></script>

  <script>
    // Because the JS libraries are all loaded with "defer", we need to wait
    // until the 'DOMContentLoaded' event before jquery will be available
    document.addEventListener('DOMContentLoaded', () => {
      $(document).ready(function () {
        var table = $('#pel').DataTable({
            "order": [[1, "asc"]],
            "pageLength": 25,
            stateSave: true,
            "columnDefs": [
            {{ column_defs }}
            ],
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.footer().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.footer().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });

                const pel_interested_str = localStorage.getItem("pel-interested");
                console.log("PEL: " + pel_interested_str);
                if (pel_interested_str) {
                    const pel_interested = JSON.parse(pel_interested_str);
                    for (event_id of pel_interested) {
                        const check_id = "#chk-state-" + event_id;
                        $(check_id).prop("checked", true);
                    }
                } else {
                    localStorage.setItem("pel-interested", JSON.stringify([]));
                }

                $('.chk').on('click', function () {
                    var pel_interested = JSON.parse(localStorage.getItem("pel-interested"));
                    const is_checked = $(this).prop("checked");
                    const event_id = $(this).prop("id").replace("chk-state-", "");
                    console.log("Click: " + event_id);
                    console.log("  checked : " + is_checked);
                    const index = pel_interested.indexOf(event_id);
                    if (is_checked) {
                        if (index == -1) {
                            pel_interested.push(event_id);
                        }
                    } else {
                        if (index != -1) {
                            pel_interested = pel_interested.splice(index, 1);
                        }
                    }
                    localStorage.setItem("pel-interested", JSON.stringify(pel_interested));
                    consol.log("PEL: " + localStorage.getItem("pel-interested"));
                });
            }
        });


        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });

      });
    });

  </script>
</head>
<body>
<div><strong>HISTORICON® 2024 PEL</strong></div>
<div>
Toggle column: {{ column_toggles }}
</div>

<table id="pel" class="table table-striped" style="width:100%">
    <thead>
    <tr>
        {{ table_header }}
    </tr>
    </thead>
    <tbody>
        {{ table_rows }}
    </tbody>
    <tfoot>
    <tr>
        {{ table_header }}
    </tr>
    </tfoot>
</table>
</body>
</html>